<!DOCTYPE html>
<html lang="en">

<head>
    <!--Blog CSS-->
    <link rel="stylesheet" href="/stylesheets/css/blog.css">
    <title>Richie Tarkowski | Blog</title>
    
    <% include ../partials/header %>
    
</head>
<body>

    <div id="nav-arrows" class="pos-fixed bg-offBlack">
        <a id="top-arrow"><i class="fa fa-caret-up"></i></a>
        <div></div>
        <a id="bottom-arrow"><i class="fa fa-caret-down"></i></a>
    </div>

    <nav class="w-100 h-100 m-auto">
        <div id="navbar" class="w-100 pos-fixed color-white bg-offBlack">
            <a href="/" class="link home">Richie Tarkowski</a>
            <a href="/" class="link" id="linkOne">Home</a>
            <a href="/blog" class="link" id="linkTwo">Blog</a>
            <i class="fa fa-bars" id="nav-bar"></i>
        </div>

        <div id="title" class="text-center display-inline-block w-100">
            <p id="title-container" class="m-auto">
                <span id="typed"></span> <br>
            </p>
        </div>
    </nav>

    <main id="blog-section" class="bg-offBlack w-100">
        <div class="blog-top w-100 color-white">
            <p>&mdash; Blog Posts &mdash;</p>
        </div>

        <% if (posts.length) { %>

        <hr class="blog-line" style="border-color: transparent;" id="s1-target">
        
        <% for(var i=0; i < posts.length; i++) { %>

            <% if (i != 0) { %>
                <hr class="blog-line" id="s<%= i+1 %>-target">
            <% } %>

            <div class="blog-post" id="post<%= i+1 %>">
                <div class="blog-header">
                    <%= posts[i].name %>
                </div>
    
                <div class="blog-content">
                    <% for(var j=0; j < posts[i].content.length; j++) { %>
                        <%= posts[i].content[j] %>
                        <% if (j+1 != posts[i].content.length) { %>
                            <br><br>
                        <% } %>
                    <% } %>
                </div>
    
                <div class="blog-footer">
                    <%= posts[i].date %>
                </div>
            </div>
        <% } %>
        <% } %>
    </main>

    <footer id="page-footer">
        <% include ../partials/footer %> 
    </footer>

    <!--Site JS-->
    <script src="/scripts/blog/blogNavbar.js"></script>
    <script src="/scripts/blog/arrowNav.js"></script>

    <script>
        let typed=new Typed('#typed', {
            strings: ["Welcome to my Blog!"],
            typeSpeed: 25,
            startDelay: 500,
            autoInsertCss: true,
            fadeOut: true,
            backDelay: 2500,
            loop: true
        });
    </script>
</body>
</html>