<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/">
    
    <!--Site CSS-->
    <link rel="stylesheet" href="/static/stylesheets/css/main.css">
    <title>Richie Tarkowski | Software Developer</title>

    <% include ../partials/header %>

</head>

<body>
    <nav class="m-auto w-100 h-100 bg-offBlack"> 
        <!--Navbar-->
        <div id="navigation" class="pos-fixed w-100 text-center navigation default-navigation">
            <i class="fa fa-bars display-none" id="nav-bars"> </i>
            <a href="#about-me" class="nav-links">About Me</a>
            <a href="#links-top" class="nav-links">Connect</a>
            <a href="#projects-top" class="nav-links">Projects</a>
        </div>

        <div id="landing">
            <div id="nav-personal" class="text-center display-inline-block w-100">
                <div id="name" class="color-white"> RICHIE TARKOWSKI </div>
            </div>
            <div id="nav-title" class="w-100 text-center color-white">
                <p class="m-auto">
                    <span id="no-js-typed">Studying Information Systems</span>
                    <span id="typed"></span> <br>
                </p>
            </div>
            <div id="splash-links" class="m-auto text-center w-100">
                <a id="link-linkedin" class="splash-link link-linkedin" target="_blank" href="<%= links.linkedin %>"><i class="fa fa-linkedin"> </i></a>
                <a id="link-github" class="splash-link link-github" target="_blank" href="<%= links.github %>"><i class="fa fa-github"> </i></a>
                <a id="link-sf" class="splash-link link-sf" target="_blank" href="<%= links.trailhead %>"><i class="fa fa-cloud"> </i></a>
                <a id="link-mail" class="splash-link link-mail" target="_blank" href="mailto:tarkowr@gmail.com"><i class="fa fa-envelope-o"> </i></a>
            </div>

            <div id="splash-link-title" class="m-auto text-center w-100"></div>
        </div>
    </nav>

    <main>
        <section class="about-me" id="about-me" class="text-center">
            <div id="links-head" class="text-center">&mdash; About Me &mdash;</div>
            <div id="intro" class="m-auto">
                <div id="info" class="text-justify color-offblack">
                    <div>My name is Richie Tarkowski, and I am a third-year student at Ferris State University. I am pursuing a degree in Computer Information Systems with a minor in Information Security and Intelligence. I currently work at Hagerty as a Software Engineer Intern. Post-education, my goal is to apply my knowledge of CIS and ISIN to design and develop applications. I have experience in Python, Java, and C# from my classes at Ferris and projects of my own. I've also built websites with several frameworks including Angular, ASP.NET MVC, and Django, and written server-side scripts with NodeJS and PHP. In my free time, I enjoy reading, exercising, investing, and learning about technologies that are not covered in my CIS classes.
                    </div>
                </div>
            </div>

            <div class="text-center m-auto resume">
                <a href="/static/media/Tarkowski_Resume.pdf" target="_blank"><button class="styled-btn">View Resume</button></a>
            </div>
        </section>

        <section class="container" id="links-top" class="w-100 bg-white">
            <div id="links-head" class="text-center color-offblack">&mdash; Connect &mdash;</div>
            <section class="card">
                <div class="card-image" id="card-github">
                    <a target="_blank" href="<%= links.github %>"><div class="hover-effect">
                        <span>&mdash; GitHub &mdash;</span>
                    </div></a>
                </div>

                <div class="card-desc">
                    <p>CIS is more than just my major, it's a personal interest. I enjoy applying what I've learned to my own projects. Visit my GitHub to see some of these applications!</p>
                </div>

                <div class="card-button">
                    <a target="_blank" href="<%= links.github %>"> <button class="card-link">GitHub &nbsp; <i class="fa fa-chevron-circle-right"></i></button></a>
                </div>
            </section>

            <section class="card">
                <div class="card-image" id="card-trailhead">
                    <a target="_blank" href="<%= links.trailhead %>"> <div class="hover-effect">
                        <span>&mdash; Trailhead &mdash;</span>
                    </div> </a>
                </div>
                
                <div class="card-desc">
                    <p>Track my progress in Salesforce Trailhead to see what I'm learning about. Also, checkout my <a target="_blank" href="https://trailhead.salesforce.com/users/0055000000875A3AAI/trailmixes/developer-trailmix">Developer Trailmix</a>, a combination of all of my favorite trailheads.</p>
                </div>

                <div class="card-button">
                    <a target="_blank" href="<%= links.trailhead %>"> <button class="card-link">Trailhead &nbsp; <i class="fa fa-chevron-circle-right"></i></button> </a>
                </div>
            </section>

            <section class="card">
                <div class="card-image" id="card-linkedin">
                    <a target="_blank" href="<%= links.linkedin %>"> <div class="hover-effect">
                        <span>&mdash; LinkedIn &mdash;</span>
                    </div> </a>
                </div>

                <div class="card-desc">
                    <p>Want to get to know me more? Let's get in touch! Send me a message on LinkedIn or take a look at my profile to learn about other activities that I've participated in.</p>
                </div>

                <div class="card-button">
                    <a target="_blank" href="<%= links.linkedin %>"> <button class="card-link">LinkedIn &nbsp; <i class="fa fa-chevron-circle-right"></i></button> </a>
                </div>
            </section>
        </section>

        <section class="projects" id="projects-top" class="w-100">
            <div id="projects-header" class="color-white">&mdash; Projects &mdash;</div>
            <div id="filter" class="display-none text-left m-auto">
                <select id="select-filter" class="bg-white color-offblack"></select>
            </div>

            <div class="proj" data-tags="Angular,NodeJS,API,HTML/CSS,JavaScript">
                <div class="proj-head off-black">
                    Chatversity
                </div>
                <br>
                <div class="proj-desc">
                    <div class="proj-tech-list">
                        <span class="proj-tech">Angular 7</span>
                        <span class="proj-tech">HTML5</span>
                        <span class="proj-tech">CSS</span>
                        <span class="proj-tech">TypeScript</span>
                        <span class="proj-tech">Bootstrap</span>
                        <span class="proj-tech">NodeJS</span>
                        <span class="proj-tech">Okta</span>
                        <span class="proj-tech">Pusher Chatkit</span>
                    </div>
                    <br>
                    Designed and built an Angular 7 messaging app with a team. The product features user authentication, messaging, adding connections, user online status, and join/leave/delete room. We also created a static website to promote and support the web app. <br><br>
                    <a target="_blank" href="<%= links.chatversity %>"><button class="proj-btn">GitHub <i class="fa fa-code"></i></button></a>
                    <a target="_blank" href="<%= links.chatversityDemo %>"><button class="proj-btn">Demo <i class="fa fa-youtube-play"></i></button></a>
                    <!--<a target="_blank" href="<%= links.chatversityApp %>">Web App</a> | <a target="_blank" href="<%= links.chatversitySite %>">Static Site</a>-->
                </div></div>
            </div>

            <div class="proj" data-tags="JavaScript,SQL,NodeJS">
                <div class="proj-head off-black">
                    Test Automation
                </div>
                <br>
                <div class="proj-desc">
                    <div class="proj-tech-list">
                        <span class="proj-tech">NighwatchJS</span>
                        <span class="proj-tech">Typescript</span>
                        <span class="proj-tech">SQL</span>
                        <span class="proj-tech">NodeJS</span>
                    </div>
                    <br>
                    Responsible for designing, building, and managing a test automation application at Hagerty to ensure that Salesforce apps and web processes were fully functional in multiple environments. <br><br>
                </div>
            </div>

            <div class="proj" data-tags="ASP.NET,C#,HTML/CSS,JavaScript,SQL">
                <div class="proj-head off-black">
                    Pollertron
                </div>
                <br>
                <div class="proj-desc">
                    <div class="proj-tech-list">
                        <span class="proj-tech">ASP.NET MVC</span>
                        <span class="proj-tech">C#</span>
                        <span class="proj-tech">JavaScript</span>
                        <span class="proj-tech">HTML5</span>
                        <span class="proj-tech">CSS</span>
                        <span class="proj-tech">D3.js</span>
                        <span class="proj-tech">Bootstrap</span>
                        <span class="proj-tech">Material Design Lite</span>
                        <span class="proj-tech">RivetsJS</span>
                        <span class="proj-tech">Solr</span>
                        <span class="proj-tech">SQL</span>
                        <span class="proj-tech">SOQL</span>
                    </div>
                    <br>
                    Built a data validation tool at Hagerty to check if the data in Salesforce matches the data in a SQL database. Designed the frontend views and backend solutions.
                    <br><br>
                </div>
            </div>

            <div class="proj permanent-display-none" data-tags="C#">
                <div class="proj-head off-black">
                    Despair
                </div>
                <br>
                <div class="proj-desc">
                    <div class="proj-tech-list">
                        <span class="proj-tech">C#</span>
                    </div>
                    <br>
                    Developed a Text-Based Quest Game using programming concepts
                    such as: Polymorphism, Inheritance, Encapsulation, Interfaces, and Events. This application adheres to the MVC Design Pattern and the Dependicy Injection Principle.
                    <br><br>
                    <span class="last-updated">Last Updated:</span> <label id="cit195-date"> </label>
                    <br><br>
                    <a target="_blank" href="<%= links.despair %>"><button class="proj-btn">GitHub <i class="fa fa-code"></i></button></a>
                </div>
            </div>

            <div class="proj permanent-display-none" data-tags="Python">
                <div class="proj-head off-black">
                    PyCsv
                </div>
                <br>
                <div class="proj-desc">
                    <div class="proj-tech-list">
                        <span class="proj-tech">Python</span>
                    </div>
                    <br>
                    Wrote a simple Python class that allows users to work with CSV files in Python. <br><br>
                    <span class="last-updated">Last Updated:</span> <label id="pycsv-date"> </label>
                    <br><br>
                    <a target="_blank" href="<%= links.pycsv %>"><button class="proj-btn">GitHub <i class="fa fa-code"></i></button></a>
                </div>
            </div>

            <div class="proj permanent-display-none" data-tags="PHP,SQL,HTML/CSS">
                <div class="proj-head off-black">
                    March Madness Discussion Forum
                </div>
                <br>
                <div class="proj-desc">
                    <div class="proj-tech-list">
                        <span class="proj-tech">PHP</span>
                        <span class="proj-tech">SQL</span>
                        <span class="proj-tech">HTML5</span>
                        <span class="proj-tech">CSS</span>
                    </div>
                    <br>
                    Created a Discussion Forum web application that features user authentication and the ability to add, edit, delete, view, and like posts. <br><br>
                    <span class="last-updated">Last Updated:</span> <label id="cit228-date"> </label>
                    <br><br>
                    <a target="_blank" href="<%= links.phpDiscussion %>"><button class="proj-btn">GitHub <i class="fa fa-code"></i></button></a>
                </div>
            </div>

            <div class="proj" data-tags="API,C#">
                <div class="proj-head off-black">
                    Stock Insight
                </div>
                <br>
                <div class="proj-desc">
                    <div class="proj-tech-list">
                        <span class="proj-tech">WPF</span>
                        <span class="proj-tech">C#</span>
                        <span class="proj-tech">MongoDB</span>
                        <span class="proj-tech">Web API</span>
                    </div>
                    <br>
                    Developed a simple, responsive WPF stock application that includes persistence and real-time stock data. <br><br>
                    <span class="last-updated">Last Updated:</span> <label id="cit255-date"> </label>
                    <br><br>
                    <a target="_blank" href="<%= links.stockInsight %>"><button class="proj-btn">GitHub <i class="fa fa-code"></i></button></a>
                    <a target="_blank" href="<%= links.stockInsightDemo %>"><button class="proj-btn">Demo <i class="fa fa-youtube-play"></i></button></a>
                </div>
            </div>

            <div class="proj" data-tags="Android,Java,API">
                <div class="proj-head off-black">
                    Utility
                </div>
                <br>
                <div class="proj-desc">
                    <div class="proj-tech-list">
                        <span class="proj-tech">Android</span>
                        <span class="proj-tech">Java</span>
                        <span class="proj-tech">Web API</span>
                    </div>
                    <br>
                    Wrote an Android Utility app that features several programs. Used asynchronous tasks in Java, a SQLite database, and a web API. <br><br>
                    <span class="last-updated">Last Updated:</span> <label id="utility-app-date"> </label>
                    <br><br>
                    <a target="_blank" href="<%= links.utility %>"><button class="proj-btn">GitHub <i class="fa fa-code"></i></button></a>
                    <a target="_blank" href="<%= links.utilityPlayStore %>"><button class="proj-btn">Download <i class="fa fa-arrow-down"></i></button></a>
                </div>
            </div>

            <div class="proj" data-tags="HTML/CSS,JavaScript,API,NodeJS">
                <div class="proj-head off-black">
                    E-Portfolio Website
                </div>
                <br>
                <div class="proj-desc">
                    <div class="proj-tech-list">
                        <span class="proj-tech">HTML5</span>
                        <span class="proj-tech">CSS</span>
                        <span class="proj-tech">JavaScript</span>
                        <span class="proj-tech">NodeJS</span>
                    </div>
                    <br>
                    Built this website from scratch using several web technologies. <br><br>
                    <span class="last-updated">Last Updated:</span> <label id="eportfolio-date"> </label>
                    <br><br>
                    <a target="_blank" href="<%= links.eportfolio %>"><button class="proj-btn">GitHub <i class="fa fa-code"></i></button></a>
                </div>
            </div>
        </section>
    </main>

    <footer class="bg-white color-offblack">
        <% include ../partials/footer %> 
    </footer>

    <!--Site JavaScript-->
    <script>
        $("#no-js-typed").addClass('display-none');

        let typed=new Typed('#typed', {
            strings: ["Studying Information Systems", "Hagerty Software Engineer Intern"],
            typeSpeed: 15,
            startDelay: 0,
            autoInsertCss: true,
            fadeOut: false,
            backDelay: 2500,
            loop: true
        });
    </script>

    <script src="/static/scripts/main/projectFilter.js"></script>
    <script src="/static/scripts/main/dataService.js"></script>
    <script src="/static/scripts/main/index.js"></script>
    <script src="/static/scripts/main/navbar.js"></script>
</body>
</html>