<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <base href="/">
    
    <!--Site CSS-->
    <link rel="stylesheet" href="/static/stylesheets/css/main.css">
    <title>Richie Tarkowski | Software Developer</title>

    <% include ../partials/header %>
    
    <!--Angular.js-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>
    <nav>   
        <% include ../partials/navbar %>

        <div id="landing">
            <div id="nav-personal">
                <p>
                    <div id="name"> RICHIE TARKOWSKI </div>
                </p>
            </div>
            <div id="nav-title">
                &mdash; Studying <span id="full-degree">Computer Information Systems</span><span id="abbr-degree">CIS</span> at FSU &mdash;
            </div>
            <div id="read-more">
                <a href="#about-me"><button class="styled-btn">READ MORE</button></a>
            </div>
        </div>

    </nav>

    <main>
        <section class="about-me" id="about-me">
            <div id="links-head">&mdash; About Me &mdash;</div>
            <div id="intro">
                <div id="info">
                    <div>My name is Richie Tarkowski, and I am studying Computer Information Systems at Ferris State University. I currently work at Hagerty as a Software Engineering Intern. Post-education, my goal is to apply my knowledge of CIS to design and develop applications. I have experience in Python, Java, and C# from my classes at Ferris and projects of my own. I also enjoy developing web applications. I've built websites with frameworks such as Angular, ASP.NET MVC, and Django and written server-side scripts with NodeJS and PHP. Additionally, I have automated test cases with Selenium Web-Driver, Java, and JavaScript frameworks. In my free time, I enjoy reading, exercising, investing, and learning about technologies that are not covered in my CIS classes. <br><br>

                    Listed below are several technologies that I have experience with: <br><br>

                    <div id="tech-list">
                        <div id="tech-item-node" class="tech-item"></div>
                    </div>
                    
                    </div>
                </div>
            </div>

            <div class="resume disabled">
                <a target="_blank"><button id="resume-download" class="styled-btn">View My Resume</button></a><!--href="../../static/media/Tarkowski_Resume.pdf"-->
            </div>
        </section>

        <section class="container" id="links-top">
            <div id="links-head">&mdash; Connect &mdash;</div>
            <section class="card">
                <div class="card-image" id="card-github">
                    <a target="_blank" href="<%= links.github %>"><div class="hover-effect">
                        <span>&mdash; GitHub &mdash;</span>
                    </div></a>
                </div>

                <div class="card-desc">
                    <p>CIS is more than just my major, it's a personal interest. I enjoy applying what I've learned to my own projects. Visit my GitHub to see some of these applications!</p>
                </div>

                <div class="card-button">
                    <a target="_blank" href="<%= links.github %>"> <button class="card-link">GitHub <i class="fa fa-chevron-circle-right"></i></button></a>
                </div>
            </section>

            <section class="card">
                <div class="card-image" id="card-trailhead">
                    <a target="_blank" href="<%= links.trailhead %>"> <div class="hover-effect">
                        <span>&mdash; Trailhead &mdash;</span>
                    </div> </a>
                </div>
                
                <div class="card-desc">
                    <p>Track my progress in Salesforce Trailhead to see what I'm learning about. Also, checkout my <a target="_blank" href="https://trailhead.salesforce.com/users/0055000000875A3AAI/trailmixes/developer-trailmix">Developer Trailmix</a>, a combination of all of my favorite trailheads.</p>
                </div>

                <div class="card-button">
                    <a target="_blank" href="<%= links.trailhead %>"> <button class="card-link">Trailhead <i class="fa fa-chevron-circle-right"></i></button> </a>
                </div>
            </section>

            <section class="card">
                <div class="card-image" id="card-linkedin">
                    <a target="_blank" href="<%= links.linkedin %>"> <div class="hover-effect">
                        <span>&mdash; LinkedIn &mdash;</span>
                    </div> </a>
                </div>

                <div class="card-desc">
                    <p>Want to get to know me more? Let's get in touch! Send me a message on LinkedIn or take a look at my profile to learn about other activities that I've participated in.</p>
                </div>

                <div class="card-button">
                    <a target="_blank" href="<%= links.linkedin %>"> <button class="card-link">LinkedIn <i class="fa fa-chevron-circle-right"></i></button> </a>
                </div>
            </section>
        </section>

        <section class="projects" id="projects-top" ng-controller="projects">
            <div id="projects-header">&mdash; Projects &mdash;</div>
            <div id="filter" class="disabled">
                <select ng-model="selected_type"  ng-change="ProjectFilter()">
                    <option ng-repeat="type in types" value="{{ type.value }}">{{type.label}}</option>
                </select>
            </div>
            <div class="proj" id="hagerty" data-tags="js,sql,node">
                <div class="proj-head off-black">
                    Test Automation
                </div>
                <hr><br>
                <div class="proj-desc">
                    <span>Overview:</span> Responsible for designing, building, and managing a test automation application at Hagerty to ensure that Salesforce apps and web processes were fully functional in multiple environments. <br><br>
                    <span>Technologies Used:</span> NightwatchJS, Typescript, SQL, NodeJS
                </div>
            </div>

            <div class="proj" data-tags="asp.net,c#,html/css,js,sql">
                <div class="proj-head off-black">
                    Pollertron
                </div>
                <hr><br>
                <div class="proj-desc">
                    <span>Overview:</span> Built a data validation tool at Hagerty to check if the data in Salesforce matched the data in a SQL database.
                    <br><br>
                    <span>Technologies Used:</span> ASP.NET MVC, C#, JavaScript, HTML/CSS, D3.js, Bootstrap, Material Design Lite, RivetsJS, Solr, SQL, SOQL <br><br>
                </div>
            </div>

            <div class="proj disabled" data-tags="c#">
                <div class="proj-head off-black">
                    Despair
                </div>
                <hr><br>
                <div class="proj-desc">
                    <span>Overview:</span> Developed a Text-Based Quest Game using programming concepts
                    such as: Polymorphism, Inheritance, Encapsulation, Interfaces, and Events. This application adheres to the MVC Design Pattern and the Dependicy Injection Principle.
                    <br><br>
                    <span>Technologies Used:</span> C# <br><br>
                    <span class="last-updated">Last Updated:</span> <label id="cit195-date"> </label>
                    <br><br>
                    <a target="_blank" href="<%= links.despair %>">GitHub</a>
                </div>
            </div>

            <div class="proj" data-tags="python">
                <div class="proj-head off-black">
                    PyCsv
                </div>
                <hr><br>
                <div class="proj-desc">
                    <span>Overview:</span> Wrote a simple, modular Python class that allows users to work with CSV files in Python. <br><br>
                    <span>Technologies Used:</span> Python <br><br>
                    <span class="last-updated">Last Updated:</span> <label id="pycsv-date"> </label>
                    <br><br>
                    <a target="_blank" href="<%= links.pycsv %>">GitHub</a>
                </div>
            </div>

            <div class="proj" data-tags="php,sql,html/css">
                <div class="proj-head off-black">
                    March Madness Discussion Forum
                </div>
                <hr><br>
                <div class="proj-desc">
                    <span>Overview:</span> Created a Discussion Forum web application that features user authentication and the ability to add, edit, delete, view, and like posts. <br><br>
                    <span>Technologies Used:</span> PHP, SQL, HTML5, CSS <br><br>
                    <span class="last-updated">Last Updated:</span> <label id="cit228-date"> </label>
                    <br><br>
                    <a target="_blank" href="<%= links.phpDiscussion %>">GitHub</a>
                </div>
            </div>

            <div class="proj" data-tags="api,c#">
                <div class="proj-head off-black">
                    Stock Insight
                </div>
                <hr><br>
                <div class="proj-desc">
                    <span>Overview:</span> Developed a simple, responsive WPF stock application that includes persistence and real-time stock data. <br><br>
                    <span>Technologies Used:</span> Windows Presentation Foundation (WPF), C#, MongoDB, Web API <br><br>
                    <span class="last-updated">Last Updated:</span> <label id="cit255-date"> </label>
                    <br><br>
                    <a target="_blank" href="<%= links.stockInsight %>">GitHub</a>
                </div>
            </div>

            <div class="proj" data-tags="angular,node,api,html/css">
                <div class="proj-head off-black">
                    Chatversity
                </div>
                <hr><br>
                <div class="proj-desc">
                    <span>Overview:</span> Designed and built an Angular 7 messaging app with a team. The product features user authentication, messaging, adding connections, user online status, and join/leave/delete room. We also created a static website to promote and support the web app. <a target="_blank" href="<%= links.chatversitySite %>">Visit the static site.</a> <br><br>
                    <span>Technologies Used:</span> Angular 7, HTML5, CSS, Bootstrap, NodeJS, Okta, Pusher Chatkit <br><br>
                    <a target="_blank" href="<%= links.chatversityApp %>">Visit the Web App!</a>
                </div>
            </div>

            <div class="proj" data-tags="html/css,js,api,node">
                <div class="proj-head off-black">
                    E-Portfolio Website
                </div>
                <hr><br>
                <div class="proj-desc">
                    <span>Overview:</span> Built this website from scratch using several web technologies. <br><br>
                    <span>Technologies Used:</span> HTML5, CSS, JavaScript, NodeJS <br><br>
                    <span class="last-updated">Last Updated:</span> <label id="eportfolio-date"> </label>
                    <br><br>
                    <a target="_blank" href="<%= links.eportfolio %>">GitHub</a>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <% include ../partials/footer %> 
    </footer>

    <!--Site JavaScript-->
    <script src="/static/scripts/main/controller.js"></script>
    <script src="/static/scripts/main/dataService.js"></script>
    <script src="/static/scripts/main/index.js"></script>
    <script src="/static/scripts/main/navbar.js"></script>
</body>
</html>